# Data Types

In [2]:
#integer
5

5

In [3]:
#float
7.58

7.58

In [4]:
#string
'Hello world'

'Hello world'

Strings can be written 3 ways. '',"", or """""". The first two are the same so that you can have quotes within quotes. The last one is so that you can break strings onto multiple lines.

In [7]:
print('Hello World')
print("Hello World")
print("""Hello
World""")

Hello World
Hello World
Hello
World

In [8]:
#list (a group of objects)
[5,6,6,7,8]

[5, 6, 6, 7, 8]

In [9]:
#set (a list that doesn't repeat elements)
{5,6,6,7,8}

{5, 6, 7, 8}

In [10]:
#tuples (never had a need for these personally, but they're good to know that they exist)
(5,6,6,7,8)

(5, 6, 6, 7, 8)

In [11]:
#dictionary (saves values to specific names, more on this later)
{'apple':5,'pie':7}

{'apple': 5, 'pie': 7}

# Working with Data

In order to save something in Python as a variable, you need to actually assign it to something

In [13]:
#Assign a variable a value
var=5

In [14]:
#I can print out the output like this
var

5

In [15]:
#I can also check the type using the type function (more on functions later)
type(var)

int

While floats and integers are obvious values, many objects in python can just be containers. Which means they are "subscriptable". In other words, I can get a particular value out of the list. To do so, after the variable in question, I simply put brackets and the number that identifies what I want. Note that in Python, it begins counting at 0, so the first item is identified with a 0.

In [23]:
#indexing
lis=[5,6,6,7,8]
lis[0]

5

In [24]:
lis[3]

7

I can even have lists within lists. Because a list is a data type just like an integer, no matter how long it is, it only counts as 1. So below, I first reference the list at 2, and then I reference the number I want out of the list, again starting counting from 0 for the new list.

In [25]:
lis=[5,6,[6,7],7,8]
print(lis[2])
print(lis[2][0])

[6, 7]
6

Dictionaries are special in that the elements can be referenced using the names that they are given. This can be useful when dealing with column names in python

In [26]:
dic={'apple':5,'pie':7}
dic['apple']

5

# Special Ways data types interact

In [32]:
#Basic integer and float operations
print(5+5)
print(5*5)
print(5**5)

10
25
3125

In [37]:
#Addition works for lists and strings as well
'apple'+'pie'
[1,'6',3]+['4',5]

[1, '6', 3, '4', 5]

In [36]:
#But it doesn't work for sets
{1}+{2}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [33]:
#Note you also get an error with non-compatable data types
5+'apple'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Functions

There are many functions within python. Some are built in to the data types, others come with python, some have to be imported, and still others are designed by the user. We have already used some built in functions. For example:

In [39]:
type('hello')

str

In [40]:
print('oh yeah')

oh yeah

In [41]:
# Note that these functions are green. Never EVER EVER EVER create a variable with the name of a green function.
# An important function is reclassication of types. Note that the 5 below is in quotes, meaning it is a string
str(5)

'5'

In [44]:
#I can also do this for lists
lis=[5, 6, 6, 7, 8]
set(lis)

{5, 6, 7, 8}

In [45]:
#A cool trick to eliminate duplicates is to do list, set, list again. Note that because order doesn't matter in a set, 
# this will jumble your order
temp=set(lis)
list(temp)

[8, 5, 6, 7]

In [48]:
#Note that sometimes functions are built into the data
'hello'.capitalize()

'Hello'

In [53]:
temp={5,6,7}
temp.pop()
temp

{6, 7}

In [54]:
#A useful example for strings is the following. Let's say I want to save a variable called name, and insert it into strings.
#I can just use {} and .format(). This will become useful for text analysis and webscraping later.
name='Kevin Standridge'
"I love {}'s python".format(name)

"I love Kevin Standridge's python"

In [55]:
#I can also build my own functions. If you are new, this isn't too necessary, but can be a good way of doing things. 
#Write def, the name of the function, (), the variables the user needs to input, and a colon. Then return to save a value. 
def funky(var1,var2):
    var3=var1*var2
    return var3

In [56]:
#I can input any numbers, and it will now multiply them. These functions can be as complicated as you like and are easily reusable.
funky(5,6)

30

In [57]:
funky(4,9)

36

In [47]:
# I can also import functions such as:
import pandas as pd
from sklearn.metrics import mean_absolute_error

The above is very important because people have build out all types of cool functions. Pandas is the name of a package (a bunch of functions that are easily importable together) which we will use a lot, it has a ton of functions. I just imported the whole thing and named it pd. Whenever I want to use a function, I just type "pd.function()". If I don't want the whole package for speed or ease of writing, I can also just import a single function like I do with mean_absolute error here. If I just imported sklearn, each time I called the function mean_absolute_error, I would have to write: sklearn.metrics.mean_absolute_error(). What a pain!

# Is, and, or options

In [62]:
# I won't get into it here, but python has two types of and, and 2 types of or depending on what you are doing.
# Try one, if it doesn't work, do the other, it will send you and error.
True and False

False

In [63]:
#More common
True & False

False

In [64]:
True or False

True

In [65]:
#More common
True | False

True

In [69]:
#Is and not can also be useful to check conditions
7 is 8

False

In [70]:
7 is not 8

True

# If, try except, and Loops

In [58]:
# Python has if statements, else if conditions (meaning the previous conditions weren't satisfied, but we still want to check one,
#and if conditions, meaning if it meets nothing else, do the followingas follows:
var=3
if var>1:
    print(6)
elif var >2:
    print("oh no")
else:
    print('tears')

6

In [59]:
var=-2
if var>1:
    print(6)
elif var >2:
    print("oh no")
else:
    print('tears')

tears

Sometimes code has errors for whatever reason. A good way of handling these is try except.

In [80]:
try:
    5+'apple'
except:
    print('do not add strings to integers')

do not add strings to integers

I generally use for loops, while loops work the same if you're interested. But for loops have 2 good basic ways of working with them.

In [81]:
#This is like foreach in stata. It references each item individually. 
lis=[1,2,3,4]
for x in lis:
    print(x)

1
2
3
4

In [82]:
#I can also just know the length of the list and run it that way with the range function.
for x in range(0,4):
    print(lis[x])

1
2
3
4

In [83]:
# A good trick to use is the length of the item in question, so you don't have to know it
for x in range(0,len(lis)):
    print(lis[x])

1
2
3
4

This should about cover the basic vanilla python stuff that you need to do research. You still need quite a bit more before you are off the ground, but this is a good start.